$titulos3: rgb(67, 207, 11) 24px arial;
p { font: $titulos3;
}
.a {
    text-decoration: none;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    margin-top: 35px;
    margin-right: 10px;
    justify-content: space-between;
    }
    .h { 
        background-color: teal;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        justify-content: space-between;
        font-size: 18px;
    }
    .entrada{
        display: grid;
        grid-template-areas: 
        "logo menu";
    }
    section#logo{
        grid-area: logo;
    }
    section#menu{
        grid-area: menu;
    }
    .img{
        width:50%;
        height:50%;
        transition: all 2s;
        margin: auto;
        display: block;
    }
    .img:hover{
        width:70%;
        height:70%;
    }
    .imga{
        width:70%;
        height:70%;
        transition: all 2s;
        margin: auto;
        display: block;
    }
    .imga:hover{
        width:60%;
        height:60%;
    }
    h1 { 
        text-align: center;
        padding-bottom: 20px;
    }
    .fitness{
        width: 90vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 50px;
    }
    .fitness div{
        background-color:#326ae7;
        width: 20vw;
        display: flex;
        flex-direction: column;
        padding: 40px;
        color: white;
    }
    .fitness div h2{
        font-size: 23px;
        padding-bottom: 20px;
        border-bottom: solid 1px black;
    
    }
    .fitness div p{
        margin-top: 20px;
        font-size: 15x;
        font-weight: 100;
        line-height: 25px;
    }
    .fitness div:hover{
    background-color: black;
    }
    .fitness div h2:hover{
        border-bottom: solid 2px white;
    }
    footer{
        background-color: black;
    }
    footer p{
        color: white;
       text-align: center;
        font-weight:lighter;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }